@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');


*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Mulish', sans-serif;
}
div{
    border: black;
}
h1{
    font-family: 'Mulish', sans-serif !important;
    font-size: 53px !important;
    color: #3957f1 !important;
    font-weight: bold !important;
}
p{
    font-family: 'Mulish', sans-serif !important;
    font-size: 21px !important;
    color: #15163d !important;
    font-weight: normal !important; 
}
